<div class="competitors" id="competitors">

	<div class="second">
		<h3>Companies:</h3>

		<table class="table table-hover">
			<thead>
				<tr>
					<th>Company</th>
					<th class="text-center">$ Raised</th>
					<th class="text-center">Date <br> Founded</th>
					<th class="text-center"># of <br> Employees</th>
				</tr>
			</thead>
			<tbody>

				<% if @companies.size > 0 %>
					<% @companies.each do |company| %>
						<tr>
							<td> <%= company.name %> </td>
							<td class="text-center"> <%= company.total_money_raised %> </td>
							<td class="text-center">
								<%= company.founded_month %>/<%= company.founded_year %>
							</td>
							<td class="text-center">
								<% if company.number_of_employees.nil? %>
									--
								<% else %>
									<%= company.number_of_employees %>
								<% end %>
							</td>
						</tr>
					<% end %>
				<% else %>
					
						<tr>
							<td><span class="text-muted">None</span></td>
							<td><span class="text-muted">None</span></td>
						</tr>
					
				<% end %>


			</tbody>
		</table>

	</div>

</div>