<div class="investors" id="investors">

	<div class="second">
		<h3>Know your VC nemeses:</h3>

		<table class="table table-hover">
			<thead>
				<tr>
					<th>VC Nemeses</th>
					<th>Competitors they’ve invested in</th>
				</tr>
			</thead>
			<tbody>

				<% if @investors.size > 0 %>
					<% @investors.each do |investor| %>
						<tr>
							<td> <%= investor.name %> </td>
							<td>
								<% Investor.company_for_investor(investor).each do |vc_company| %>

									<% if vc_company.exited? %>
										<span class="text-muted">
											<%=  vc_company.name %>
											(exited)
											<%= "," unless vc_company == Investor.company_for_investor(investor).last %>
											
										</span>
									<% else %>
										<%=  vc_company.name %><%= "," unless vc_company == Investor.company_for_investor(investor).last %>
									<% end %>
								<% end %>
								
							</td>
						</tr>
					<% end %>
				<% else %>
					
						<tr>
							<td><span class="text-muted">None</span></td>
							<td><span class="text-muted">None</span></td>
						</tr>
					
				<% end %>

				<!-- original sample table 
				<tr>
					<td>Andressen Horowitz</td>
					<td>Square, Twitter, <span class="text-muted"> Google (exited)</span> </td>
				</tr>
				<tr>
					<td>KPCB</td>
					<td>Kabam, <span class="text-muted"> Zynga (exited) </span>, Rocket Fuel</td>
				</tr>
				<tr>
					<td>Sequoia</td>
					<td>Square, Twitter</td>
					</tr>
				<tr>
					<td>Keith Rabois</td>
					<td>Square</td>
				</tr>
				-->

			</tbody>
		</table>

		<p class="note">
			<em>note: some VCs may be willing to invest in companies that compete with companies already in their portfolio, but working with them is probably
			<a href="http://avc.com/2011/03/investing-in-competing-companies/" target="_blank"> not a great idea. </a> </em>
			<!-- old link here was: http://www.usv.com/2007/01/why-we-dont-inv.php -->
		</p>
	</div>

</div>