

<% content_for :head do %>
	<title>VC Nemesis | some VCs are not your friends</title>
	<meta name="description" content="Use VC Nemesis to figure out who you should (and shouldn’t) be talking to">
<% end %>



		</div>
	</div>
</div> <!-- this closes the regular page containter, allows for full width image -->

<% if @user_registered %>
<% else %>
	<div class="info text-center" id="slide-1" class="homeSlide">
		<div class="collapse-group">
		
			<div class="info2"
				data-top="background-position: 50% 0px;"
        		data-top-bottom="background-position: 50% 250px;"
				data-anchor-target="#slide-1">
				<div class="info3 in viewdetails"
					data-100-top="background-position: 100% 100%;"
	        		data-top-bottom="background-position: 50% 4500px;">
					<span class="jt-description"> Justin Timberlake <br> <em>(The Social Network)</em></span>
					<span class="rw-description">The Rosewood Hotel</span>
					<div class="col-md-12">
						<div class="container">
							<div class ="row">
								<div class="slide-reg"
									data-top="top: 0px"
					        		data-80="top: 500px"
					                data-anchor-target="#slide-1">
									<h1>A free tool to see <!--keep track of --> who’s invested in the competition</h1>
									<h2>Use VC Nemesis to figure out who you should (and shouldn’t) be talking to</h2>
									<div id="homepage-add-companies">
										<h3>Add a competitor:</h3>		

										<form class="form-inline" id="homepage-company-form" role="form" action="<%= root_url %>/companies" method="get">  <!-- the localhost link here probably needs to be changed at some point -->

											<div class="form-group competitor">
												<label class="sr-only" for="exampleCompany">Company Name</label>
												<!-- Always add labels- Screen readers will have trouble with your forms if you don't include a label for every input. For these inline forms, you can hide the labels using the .sr-only class. -->
													<input type="text" class="form-control" id="companyName1" name="name" placeholder="enter competitor name" autofocus>		
											</div>					

											<div class="form-group add">
													<button type="submit" id="homepage-company-form-button" class="btn btn-default" data-loading-text="searching...">add!</button>
											</div>

										</form>

									</div>

									<!--
									<h3>examples:
										<a class="add-sample-comps" title="Music streaming" id="musicstreaming"><em>Music streaming</em></a>, 
										<a class="add-sample-comps" title="Bitcoin" id="bitcoin"><em>Bitcoin</em></a>
									</h3>
									-->

								</div>

								<!--
								<img src="//vcnemesis.com/images/SocNet2(float)bw.png"
								data-100="top: 75px;"
	        					data-300="top: 275px;">
	        					-->

								<img src="//vcnemesis.com/images/SandHillRoad.png" class="road-sign hidden-xs hidden-sm"
				        		data-40="top: 75px; opacity: 0"
				        		data-75="top: 75px; opacity: 1"
				        		data-300="top: 300px; opacity: 1"
								data-anchor-target="#slide-1"> <!-- Might need to change this url to src="//localhost:3000/images/SandHillRoad(g).png" -->

								<img src="//vcnemesis.com/images/ts(s,bw,trans).png" class="car hidden-xs hidden-sm"
				        		data-top="top: 150px; left: -400px"
        						data-200="top: 300px; left: 3%"
								data-anchor-target="#slide-1"> 

						        <!-- new stuff end -->
			
								<!-- old stuff
									<h1>A free tool to keep track of who’s invested in the competition.</h1>
									<h2>Use VC Nemesis to figure out who you should (and shouldn’t) be talking to.</h2>
									<h3>examples:
										<a class="add-sample-comps" title="Music streaming" id="musicstreaming"><em>Music streaming</em></a>, 
										<a class="add-sample-comps" title="Bitcoin" id="bitcoin"><em>Bitcoin</em></a>
									</h3>

								old stuff end -->
								
								<button type="button" class="btn btn-default clps in viewdetails" data-toggle="collapse" data-target=".viewdetails"><strong><span class="glyphicon glyphicon-chevron-up white"></span></strong></button>

							</div>
						</div>
					</div> <!-- containter -->
				</div>
				
			</div>

			
		<button type="button" class="btn btn-default opn collapse viewdetails" data-toggle="collapse" data-target=".viewdetails"><strong>more &nbsp;info &nbsp;&nbsp;<span class="glyphicon glyphicon-chevron-down"></strong></button>					
		</div>

	</div> <!-- /info  -->
<% end %>


<div class="container" id="main-section">

	<div class ="row">
	
		<div class="col-md-12">

			<div class="row">
	  
				<div class="col-md-4">
					
					<div class="second">

						<%= render 'welcome/addcompetitors' %>

						<%= render 'welcome/competitorlist' %>

					</div>
				</div>  <!-- /col-md-4 -->
		
				<div class="col-md-8 hide-if-no-company">

					<%= render 'welcome/investors' %>

					<%= render 'welcome/competitors' %>

				</div>  <!-- /col-md-8 -->

			</div> <!-- /row -->

		</div> <!-- /div col-md-12 -->
	</div> <!-- /div row -->

	<div class="loading-modal2"><!-- Place at bottom of page, This is the modal that appears when this info is loading --></div>

</div> <!-- /container -->


<% if @user_registered %>
	<div class="signup1"></div> 
<% else %>


	<div class="alert alert-warning alert-dismissable fade in signup1">
		<button type="button" class="close" id="signup1-close" data-dismiss="alert" aria-hidden="true">&times;</button>
		<h4><strong>
			<%= link_to('Sign Up', new_user_registration_path, class: '') %>
			to save your competitor list

			
		</strong></h4>
		Get email alerts when your competitors get funded
	</div>




<% end %>

