<div class="navbar navbar-default navbar-fixed-top" role="navigation">
	<div class="container">
		<div class="navbar-header">					
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			 </button>
			
			<a class="navbar-brand" href="/">
				<%= image_tag "VCN_logo_50px.png", class: "logo hidden-xs",  alt: "VCN logo", height: "40px", width: "40px"%>
				<div class="name">
					VC <span class="enemy"><strong> Nemesis </strong></span>
					</br>
					<span class="tagline hidden-xs"> some VC's are not your friends </span>
					<span class="tagline visible-xs">&exist; VC: VC != friend </span>
				</div>
			</a>
		</div>
		<div class="navbar-collapse collapse">
			<ul class="nav navbar-nav navbar-right">

				<!--
				<li>
					<button type="button" class="btn btn-link navbar-btn">
						<span class="glyphicon glyphicon-book"></span>
						Recommended Reading
					</button>
				</li>
				<li>
					<button type="button" class="btn btn-link navbar-btn">
						<span class="glyphicon glyphicon-stats"></span>
						Analysis
					</button>
				</li>
				-->


				<li>

					<div class="dropdown">
						<button class="btn btn-link navbar-btn dropdown-toggle" type="button" data-toggle="dropdown">
						Thoughts
							<span class="caret"></span>
						</button>
						<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
							<li role="presentation">
								<a href="/a-competitors-investor-is-your-enemy">A Competitor's Investor is Your Enemy</a>
							</li>
							<!--
							<li role="presentation">
								<a href="#">Another sample link</a>
							</li>
							-->
						</ul>
					</div>

				</li>

				<!--
				<li>

					<div class="dropdown">
						<button class="btn btn-link navbar-btn dropdown-toggle" type="button" data-toggle="dropdown">
						Analysis
							<span class="caret"></span>
						</button>
						<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
							<li role="presentation">
								<a href="/sf-vs-the-peninsula">SF vs. The Peninsula</a>
							</li>
						</ul>
					</div>

				</li>
				-->

				<li>
					<a href="/FAQ" class="btn btn-link navbar-btn FAQ-link">
						FAQ
					</a>
				</li>

				<!--
				<li>
					<button type="button" class="btn btn-danger navbar-btn" data-toggle="modal" data-target="#SignUpModal", href= >
				</li>
				<li>
					<button type="button" class="btn btn-default navbar-btn" data-toggle="modal" data-target="#SignInModal", href= >
				</li>
				-->

				<% if @user_registered %>

					<li>
						<a class="greeting btn btn-link navbar-btn">
							Hi&nbsp;<%= current_user.email %>
						</a>
					</li>
					<li>
						<%= link_to('Logout', destroy_user_session_path, class: 'btn btn-link navbar-btn', :method => :delete) %>
					</li>
	
				<% else %>
				
					<li>
						<%= link_to('Sign Up', new_user_registration_path, class: 'btn btn-danger navbar-btn') %>
					</li>
					<li>
						<%= link_to('Sign In', new_user_session_path, class: 'btn btn-default navbar-btn') %>
					</li>

				<% end %>
			</ul>
		</div>
	</div>
</div>