<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">

	<%= yield :head %>

	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<!-- Bootstrap (not needed because of netdna CDN)
	<link href="css/bootstrap.min.css" rel="stylesheet" media="screen"> -->
	<!-- Latest compiled and minified CSS -->
	
	<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
	<!-- Optional theme 
	<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-theme.min.css">
	-->
	<!-- Custom styles for this template -->
	<!-- already provided in rails framework
	<link href="assets/css/style.css" rel="stylesheet">
	-->

	<%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
	<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
	<%= csrf_meta_tags %>

	<!-- this is here so that you can call the root url in links wherever needed -->
	<script> var BASE_URL = '<%= root_url %>'; </script>

	
	<link rel="icon" href="favicon.ico" type="image/x-icon" /> 
	<link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
	
	<%= favicon_link_tag 'favicon.ico' %>

	<link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,600,700,800,300' rel='stylesheet' type='text/css'>
	<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
	  <script src="../../assets/js/html5shiv.js"></script>
	  <script src="../../assets/js/respond.min.js"></script>
	<![endif]-->
  

  	<%= render 'layouts/ga' %>	
</head>
<body>

	<div id="wrap"> <!-- added this to get the sticky footer-->


		<%= render 'layouts/header' %>

		<div class="container">
			<div class ="row">
				<div class="col-md-12">
					<%= yield %>
				</div>
			</div>
		</div>

	</div>	<!-- end wrap -->
	<%= render 'layouts/footer' %>

	<%= render 'layouts/authentication' %>	
	
	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<script src="http://code.jquery.com/jquery.js"></script>
	<!-- Include all compiled plugins (below), or include individual files as needed 
	<script src="js/bootstrap.min.js"></script> -->
	<!-- Latest compiled and minified JavaScript -->
	<script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
	
	<script src="assets/js/typeahead-WithModByAmit.js"></script>
	
	<script src="assets/js/scripts.js"></script>
	
	<script>
		/* test script 	
		$.getJSON( "http://autocomplete.crunchbase.com/autocomplete.js?&q=face&f=company&limit=20&_=", function( json ) {
			document.write(json);
			console.log( "JSON Data: " + json.results );
		});
		*/
	
		/* remote: 'http://api.crunchbase.com/v/1/company/Kabam.js?api_key=236qvz77rth5wmmr9g2cqnhr' */
		
	</script>
	

	<script>
		$(".alert").alert()
	</script>


	<!-- This is some JS to not leave the page when the form is submitted (I think)--> 
	
	<script>

		$(document).ready(function(){
			$('#company-form-button').click(function () {
				console.log('button pressed!');
			    var $btn = $(this)
			    $btn.button('loading');

			    $('#companyName1').hide(); //hides the search box when button is pressed

				$('body').addClass("loading"); //starts the 'loading' animation

		  	});
		});


		$(document).ready(function(){
		   var $form = $('form#company-form');
		   $form.submit(function(){
		      $.get($(this).attr('action'), $(this).serialize(), function(response){ //this is called when the form is submitted
		            
		            console.log('company submitted!'); //this just prints a confirmation to the console that the company was added

		            console.log(BASE_URL);

		            $('#companyName1').show(); //unhides the search box after successful submission

		            $( '#company-form' ).each(function(){
					    this.reset();
					}); //This resets the competitor field in the form

		            $('#company-form-button').button('reset'); //this resets the search button;	

		            $.get(BASE_URL + '/companylist', $(this).serialize(), function(response){
		            	
		            	$('.competitor-list').replaceWith(response);

		            	//console.log(response);

		            });  //updates companies

		            $.get(BASE_URL + '/investorlist', $(this).serialize(), function(response){
		            	
		            	$('.investors').replaceWith(response);

		            });  //updates investors

		            $.get(BASE_URL + '/companylistfulldata', $(this).serialize(), function(response){
		            	
		            	$('.competitor-list-fulldata').replaceWith(response);

		            });  //updates investors


			    	$('body').removeClass("loading"); //takes away loading animation


					if (response.status === "Company Doesn't Exist") { //no need to parse this as JSON because its already a javascript object...
						$(".comp-fail").show().delay(10000).fadeOut();
					}
					else{
						$(".comp-success").show().delay(5000).fadeOut();

						$(".signup1").show();// invites user to sign up-- this should probably only pop up the first time

					};

		      });
		      return false;
		   });
		}); //This function sends the request without leaving the page


		$(document).ready(function(){
			$('#signup1-close').click(function () {
				console.log('signup closed');

				$(".signup1").remove(); // This removes the 'sign up now!' prompt the first time the person x's out of it
			    
		  	});
		});




		$(document).ready(function(){

			$('#photoshare').click(function () {

				$('body').addClass("loading"); //starts the 'loading' animation

				var getInvestors = function(comp){
				    var url= BASE_URL + '/companies';
				    $.post(url, {company_name: comp});
				}

				$.when( getInvestors('OKCupid'),
			        getInvestors('Zoosk'),
			        getInvestors('HowAboutWe'),
			        getInvestors('Grouper')
			      	).done(function(){

			      		$.get(BASE_URL + '/companylist', $(this).serialize(), function(response){
							            	
							$('.competitor-list').replaceWith(response);

						}); //updates companies

						$.get(BASE_URL + '/investorlist', $(this).serialize(), function(response){
							
							$('.investors').replaceWith(response);

						}); //updates investors


						$('body').removeClass("loading"); //takes away loading animation


			    	});

			});

	    });


			 







		/* not used:
		
		$(document).ready(function(){ 
			$('.comp-close').click(function () {
				$.ajax({
				    url: 'http://localhost:3000/companies',
				    type: 'DELETE',
				    success: function(response) {
				       	
				       	$.get('http://localhost:3000/companylist', $(this).serialize(), function(response){
			            	
			            	$('.competitor-list').replaceWith(response);

			            	//console.log(response);

			            }); //updates companies

			            $.get('http://localhost:3000/investorlist', $(this).serialize(), function(response){
			            	
			            	$('.investors').replaceWith(response);

			            }); //updates investors
				    }
				});
			});
		}); //Deletes companies when 'x' is pressed
		*/


	</script> 



</body>
</html>
